body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;
}

.header {
  height: 100px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
}

.content {
  min-height: 600px;
  background-color: #ffffff;
}

.footer {
  height: 80px;
  background-color: #f1f1f1;
}
